<style>

	.dropdown-menu a:hover {background-color: #337ab7;}
	.dropdown:hover .dropdown-menu {display: block;}
	.dropdown:hover .dropbtn {background-color: #3e8e41;}
html, body { height: 100%; min-height: 1500px; width: 100%; }
	.login-container {
    background: transparent url(town.jpg) center center;
    background-size: cover;
    height: 100%;
    padding-top: 0px;
    width: 100%;
	}
	.login-container::before {
	    background: -webkit-radial-gradient(center, ellipse cover, rgba(43,44,78,0.9) 0%,rgba(43,44,78,0.9) 1%,rgba(43,44,78,1) 74%,rgba(43,44,78,1) 75%,rgba(43,44,78,1) 100%);
	    content: "";
	    height: 130%;
	    left: 0px;
	    right: 0px;
	    position: absolute;
	    /*top: 0px;*/
	    width: 100%;
	}

	.login-container a.btn.btn-link {
	    color: rgb(255, 255, 255);
	    font-size: 180%;
	    margin: 0px 27px;
	    padding: 6px 0px;
	    opacity: 0.7;
	    text-transform: uppercase;
	}
	.login-container a.btn.btn-link.active {
	    border-bottom: 2px solid rgb(23, 98, 238);
	    opacity: 1;
	}

	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
	body {
	  font-family: 'Open Sans', 'sans-serif';
	}

	@media (min-width:768px){.navbar{border-radius:0px}}

	.left.carousel-control {
	  right: 30px;
	  /*left: inherit;*/
	}
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right {
	  font-size: 15px;
	  background-color: #fff;
	  line-height: 30px;
	  text-shadow: none;
	  color: #333;
	  border: 1px solid #ddd;
	}

	/*/////////////*/


	/*Contact sectiom*/
	.content-header{
	  font-family: 'Oleo Script', cursive;
	  color:#fcc500;
	  font-size: 45px;
	}

	.section-content{
	  text-align: center; 

	}
	#contact{
	    
	    font-family: 'Teko', sans-serif;
	  padding-top: 60px;
	  width: 100%;
	 
	  height: 550px;
	  background: #3a6186; /* fallback for old browsers */
	  background: -webkit-linear-gradient(to left, #f4511e , #565671); /* Chrome 10-25, Safari 5.1-6 */
	  /*background: linear-gradient(to left, #3a6186 , #89253e);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	  background: linear-gradient(to left, #f4511e , #565671);
	    color : #fff;    
	}
	.contact-section{
	  padding-top: 40px;
	}
	.contact-section .col-md-6{
	  width: 50%;
	}

	.form-line{
	  border-right: 1px solid #B29999;
	}

	.form-group{
	  margin-top: 10px;
	}
	label{
	  font-size: 1.3em;
	  line-height: 1em;
	  font-weight: normal;
	}
	.form-control{
	  font-size: 30px;
	  color: #080808;
	}
	textarea.form-control {
	    height: 135px;
	   /* margin-top: px;*/
	}

	.submit{
	  font-size: 1.1em;
	  float: right;
	  width: 150px;
	  background-color: transparent;
	  color: #fff;

	}


	.margin-top-20{
  margin-top: 20px;
}
body{
  background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/08/30/12087/3574f899daef41d2f145eba13ff7840f.jpg');
  background-size:100% 100%;
  background-attachment: fixed; 
  background-repeat:no-repeat;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
}
.auth h1{
  color:#fff!important;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
  font-size:21px;
  display:block;
  padding-top: 20px;
}
.auth .auth-box legend{
  color:#fff;
  border:none;
  font-weight:300;
  font-size:24px;
}
.auth .auth-box{
  background-color:#fff;
  /*max-width:800px;*/
  margin:0 auto;
  border:1px solid rgba(255, 255, 255, 0.4);;
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  margin-top:40px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
@media(max-width:460px){
  .auth .auth-box{
   margin:0 10px;
 }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #fff;
  font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #fff;
  font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
  border:none;
  background: #fff!important;
  color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"]{
  border:none;
  padding:10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff;
  font-size:16px;
  border-bottom:1px dotted #fff;
  border-radius:0;
  box-shadow:none!important;
  height:auto;
}
.auth textarea{
  background-color: rgba(255, 255, 255, 0)!important;
  color:#fff!important;
}
.auth input[type="file"] {
  color:#fff;
}
.auth form label{
    color:#fff;
    font-size:21px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline{
    font-size: 14px;    
}

.auth form .help-block{
    color:#fff;
}
.auth form select{
  background-color: rgba(255, 255, 255, 0)!important;
  background: rgba(255, 255, 255, 0);
  color:#fff!important;
  border-bottom:1px solid #fff!important;
  border-radius:0;
  box-shadow:none;
}
.auth form select option{
    color:#000;
}
/*multiple select*/
.auth select[multiple] option, 
.auth select[size] {
  color:#fff!important;
}

/*Form buttons*/
.auth form .btn{
  background:none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;
    border-color:#fff;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
  color:#fff;
  border-color:#fff;
}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
  border:none;
  color:#fff;
  padding-left:0;
}
.auth form .btn-link:hover{
  background:none;
}


.auth label.label-floatlabel {
  font-weight: 300;
  font-size: 11px;
  color:#fff;
  left:0!important;
  top: 1px!important;
}

.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}

.btn-minus2{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus2{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}

.btn-minus3{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus3{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}


	


</style>